﻿@model IEnumerable<blog_front.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h4>Posts</h4>

<table class="table table-bordered" id="myTable">
    <thead class="bg-info">
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

